Django==4.2.1
djangorestframework
djangorestframework-api-response

django-environ
django-cors-headers
django-channels
channels-redis
django-redis
Pillow
psycopg2 
PyJWT
djoser
djangorestframework-simplejwt
botocore 
boto3
django-storages
whitenoise
uvicorn
argon2-cffi
python-slugify